html {
  font-size: 14px;
}

@font-face {
  font-family: EagleLake;
  src: url(../fonts/EagleLake-Regular.ttf);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
