@model RestaurantAGV.MVC.Models.Elements.TableCard



<div class="TableCardContainer">
    <h4 class="sunTitleFont mt-3 text-center">@Model.TableNumber</h4>
    <span class="bulletFont mt-3 d-block text-center">@Model.Address</span>
    <span class="bulletFont mt-3 d-block text-center">@Model.ChairCount C</span>
</div>




