@model RestaurantAGV.MVC.Models.Auth.AdminSigninModel

@{}

<article>
    <header>
        <h1 class="text-center mainTitleFont my-5">Staff Sign-in</h1>
        <a class="lead text-center text-muted blockLink d-block" asp-action="CustomerSignin">Sign-in as Customer</a>
    </header>
    
    <div class="my-5 text-center">
        <img src="~/icons/salad.png" alt="RestaurantAGV's Logo" width="156">
    </div>

    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-6 col-gl-5 col-xl-4">
            <div class="m-5">
                <form method="post">
                    <div class="my-3">
                        <span class="form-text my-3">@Model.ErrorMessage</span>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Email" placeholder="Email" class="form-control">
                    </div>
                    <div class="my-3">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input asp-for="Password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="mainBtn w-100">Sign-in as admin</button>
                </form>
            </div>
        </div>
    </div>

</article>